kestra/_flows/gcp_elt.yml
id: gcp_elt
namespace: company.team

variables:
  file_id: "{{ trigger.date | dateAdd(-1, 'MONTHS') | date('yyyyMM') }}"
  gcs_path: "gs://{{kv('GCP_BUCKET_NAME')}}"
  table: "{{kv('GCP_DATASET')}}.ridedata_{{trigger.date | date('yyyy_MM')}}"

tasks:
  - id: get_zipfile
    type: io.kestra.plugin.core.http.Download
    uri: https://s3.amazonaws.com/tripdata/{{ render(vars.file_id) }}-citibike-tripdata.zip

  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    algorithm: ZIP
    from: "{{ outputs.get_zipfile.uri }}"

  - id: each
    type: io.kestra.plugin.core.flow.ForEach
    concurrencyLimit: 0
    values: "{{ outputs.unzip.files | values }}"
    tasks:
      - id: read_csv
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        env:
          FILE_ID: "{{ render(vars.file_id) }}_{{ taskrun.id }}"
        dependencies:
          - pandas
          - pyarrow
        inputFiles:
          ride_data.csv: "{{ taskrun.value }}"
        script: |
          import os
          import pandas as pd

          df = pd.read_csv("ride_data.csv", low_memory=False)

          file_id = os.environ["FILE_ID"]
          df.to_parquet(f"{file_id}.parquet", index=False)
        outputFiles:
          - "*.parquet"
      
      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.read_csv.outputFiles[render(vars.file_id) ~ '_' ~ taskrun.id ~ '.parquet'] }}"
        to: "{{render(vars.gcs_path)}}/{{ render(vars.file_id) }}_{{ taskrun.id }}.parquet"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: To avoid cluttering your storage, we will remove the downloaded files

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 0 15 * *"