kestra/_flows/ingest_to_s3.yml
id: ingest_to_s3
namespace: company.team

variables:
  # file_id: "{{trigger.date | date('yyyyMM')}}"
  # file_id: "{{ trigger.date | dateAdd(-1, 'MONTHS') | date('yyyyMM') }}"
  file_id: 202602

tasks:
  - id: get_zipfile
    type: io.kestra.plugin.core.http.Download
    uri: https://s3.amazonaws.com/tripdata/{{ render(vars.file_id) }}-citibike-tripdata.zip

  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    algorithm: ZIP
    from: "{{ outputs.get_zipfile.uri }}"

  - id: each
    type: io.kestra.plugin.core.flow.ForEach
    concurrencyLimit: 0
    values: "{{ outputs.unzip.files | values }}"
    tasks:
      - id: read_csv
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        env:
          FILE_ID: "{{ render(vars.file_id) }}"
        dependencies:
          - pandas
          - pyarrow
        inputFiles:
          trip_data.csv: "{{ taskrun.value }}"
        script: |
          import os
          import pandas as pd

          df = pd.read_csv("trip_data.csv", low_memory=False)

          file_id = os.environ["FILE_ID"]
          df.to_parquet(f"{file_id}.parquet", index=False)
        outputFiles:
          - "*.parquet"
          