kestra/_flows/ingest_to_s3.yml
id: ingest_to_s3
namespace: company.team

variables:
  file_id: "{{trigger.date | date('yyyyMM')}}"

tasks:
  - id: get_zipfile
    type: io.kestra.plugin.core.http.Download
    uri: https://s3.amazonaws.com/tripdata/JC-{{ render(vars.file_id) }}-citibike-tripdata.csv.zip

  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    algorithm: ZIP
    from: "{{ outputs.get_zipfile.uri }}"

  - id: parquet_output
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    env:
      FILE_ID: "{{ render(vars.file_id) }}"
    inputFiles: "{{ outputs.unzip.files }}"
    dependencies:
      - pandas
      - pyarrow
    script: |
      import os
      import pandas as pd

      file_id = os.environ["FILE_ID"]
      file = f"JC-{file_id}-citibike-tripdata.csv"

      df = pd.read_csv(file)
      df.to_parquet(f"{file_id}.parquet", index=False)
    outputFiles:
      - "*.parquet"